<div class="container">
  <div class="text-center m-3 home-banner">
    <h1 class="text-center text-banner">Rent a costume!</h1>
  </div>
  <h5 class="more-margin"><button><%= link_to "Add a new Costume", new_costume_path(@costume), class: "no-underline"%></button></h5>

  <div class="cards">
    <% @costumes.each do |costume| %>
      <div class="card-product">
        <%= image_tag costume.image_url , alt:"costume image", class: "card-image" %>
        <div class="card-info p-3">
          <h2 class="font-weight-bold"><%= costume.name %></h2>
          <h4>Price: <%= costume.price %>$</h4>
          <h5><button><%= link_to "See details", costume_path(costume.id), class: "no-underline" %></button></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
