<div class="container">
  <div class="text-center m-3 home-banner">
    <h1 class="text-center text-banner">Rent a costume!</h1>
  </div>
  <h5 class="margin-left"><button><%= link_to "Add a new Costume", new_costume_path(@costume), class: "no-underline"%></button></h5>

  <div class="cards">
    <% @costumes.each do |costume| %>
      <a href="<%= costume_path(costume.id)%>" class="card-product">
        <%= cl_image_tag costume.photos.first.key , alt:"costume image", class: "card-image" %>
        <div class="card-info p-3">
          <h6 class="font-weight-bold text-center"><%= costume.name %></h6>
          <p class="text-center"><%= costume.price %>$</p>
        </div>
      </a>
    <% end %>
  </div>
</div>
