<h2>Name:<%= @costume.name %></h2>
<p>Description:<%= @costume.description %></p>
<p>Price:<%= @costume.price %></p>
<h5><button><%= link_to "Check All Costumes", costumes_path, class: "no-underline" %></button></h5>
<% @costume.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<h5><button><%= link_to "Delete Costume",
  costume_path(@costume),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
  class: "no-underline"
%></button></h5>
