<h2>Name:<%= @costume.name %></h2>
<p>Description:<%= @costume.description %></p>
<p>Price:<%= @costume.price %></p>
<%= link_to "Check All Costumes", costumes_path %>
<% @costume.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<%= link_to "Delete Costume",
  costume_path(@costume),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
